:root {
    --blue1: #0cead9;
    --blue2: #3acadf;
    --blue3: #729efd;
    --blue4: #5474FB;
    --purple1: #8a64d6;
    --purple2: #5c3a92;
    --lavender: #CC6CE4;
    --cream: #EBEBE3;
    --grey: #575651;
}

* {
    margin: 0;
}

body {
    background-color: var(--cream);
}

nav {
    background-color: var(--blue3);
    margin: 0;
}

/* Dashboard Styling */
.dashboard {
    width: 96%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
}

